iosApp/iosApp/Info.plist
secret.properties
Secrets.kt
androidApp/keystores/*.jks
fastlane_googlecloud_service_account.json

*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
